
/*colores corporativos:

Blanco roto: #fffcf0
Gris: #797778
Amarillo: #e7ab3b
Azul: #1d93d1
Rosa: #cb418e
Morado: #4f307e
*/
/*body{
	background-color: #fffcf0!important;
}*/

@import url('https://fonts.googleapis.com/css?family=Bitter|Oswald:700|Roboto:300,400');

nav a{
	color: #4f307e!important;
	font-weight: bold;
}

footer{
	background-color:#4f307e;
	color: white!important;
	font-size:17px;
}

a:link{
	color: black;
    text-decoration: none;
}
a:visited{
	color: black;
    text-decoration: none;
}
a:hover{
	color: black;
    text-decoration: none;
}

ul, li{
	list-style-type: none;
	margin: 0;
    padding: 0;
}

.tipoTitulo{
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	font-size: 2em;
	text-transform: uppercase;
}

.tipoSubTitulo{
	font-family: 'Bitter', serif;
	font-weight: 400;
	font-size: 1.3em;
}

.tipoTexto{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 1em;
}

.estiloContacta{
	color: #4f307e;
	font-family: 'Asap', sans-serif;
	font-weight:500;
	font-size: 2.5em;
	text-transform: uppercase;
}

.row{
	margin: 0!important;
	padding: 0!important;
}
.col-*{
	margin: 0!important;
	padding: 0!important;
}
.form-control {
  padding: 0.5rem;
  border: 1px solid;
  font-size: 1rem;
  color: black;
  font-weight: bold;
}
.form-control:focus {
    color: black;
 	background-color:#fff; 
    border-color:#5a0ece; 
    outline: 0;
    box-shadow: 0 0 0 0.2rem #4f307e9e;
}
.btn-info
{
	background-color:#cb418e!important;
	border: none;
}
.modal-dialog2 {
	max-width: 800px;
	margin: 1rem auto;
}
.modal-content {
	border-radius: 1.5rem;
}

.modal-body{
	padding: 2rem;
}

.h_divider{ 
	height:2px; 
	background: #4f307e;
}

.h_divider_w{ 
	height:2px; 
	background: white;
	margin-top: 30px;
	margin-bottom: 20px;
}

.tituloEstilo{
	font-family: 'Asap', sans-serif;
	font-weight: 700;
	font-size: 1.8em;
}

.descripcioEstilo{
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 50px;
}

.titularEstilo{
	font-family: 'Asap', sans-serif;
	font-weight: 700;
	font-size: 1.3em;
}

.titularEstiloCenter{
	font-family: 'Asap', sans-serif;
	font-weight: 700;
	font-size: 1.3em;
	text-align: center;
}

.dataEstilo{
	font-family: 'Asap', sans-serif;
	font-size: 1.1em;
}

.dataEstiloCenter{
	font-family: 'Asap', sans-serif;
	font-size: 1.1em;
	text-align: center;
}
.quisomAssociacio{
	font-family: 'Asap', sans-serif;
	font-weight: 700;
	font-size: 1.8em;
	text-align:center !important; 
}


@media (max-width: 575px){

}
@media (min-width: 576px) and (max-width: 767px){

}
@media (min-width: 768px) and (max-width: 991px){

}
@media (min-width: 992px) and (max-width: 1199px){

}
@media (min-width: 1200px){

}