
/*colores corporativos:

Blanco roto: #fffcf0
Gris: #797778
Amarillo: #e7ab3b
Azul: #1d93d1
Rosa: #cb418e
Morado: #4f307e
*/
/*body{
	background-color: #fffcf0!important;
}*/

@import url('https://fonts.googleapis.com/css?family=Bitter|Oswald:700|Roboto:300,400');

body .carousel-indicators li{
  background-color:red;
}
body .carousel-control-prev-icon,
body .carousel-control-next-icon{
  background-color:red;
}
body .no-padding{
  padding-left: 0;
  padding-right: 0;
}

nav a{
	color: #4f307e!important;
	font-weight: bold;
}

a:link{
	color: black;
    text-decoration: none;
}
a:visited{
	color: black;
    text-decoration: none;
}
a:hover{
	color: black;
    text-decoration: none;
}
a.PolitPriva:link{
	color: #cb418e!important;
	font-weight: bold;
}
i,.cursor{
	cursor:pointer;
}
ul, li{
	list-style-type: none;
	margin: 0;
    padding: 0;
}

footer{
	background-color:#4f307e;
	color: white!important;
	font-size:17px;
	width:100%;
	margin-top: 20px;
	bottom: 0;
}
.cargador {
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: rgba(95, 95, 95, 0.7);
}

.preloader {
	margin-top: 18%;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.tipoTitulo{
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	font-size: 2em;
	text-transform: uppercase;
}

.tipoSubTitulo{
	font-family: 'Bitter', serif;
	font-weight: 400;
	font-size: 1.3em;
}

.tipoTexto{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 1em;
}

.tipoTituloCenter{
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	font-size: 2em;
	text-transform: uppercase;
	text-align: center;
}

.tipoSubTituloCenter{
	font-family: 'Bitter', serif;
	font-weight: 400;
	font-size: 1.3em;
	text-align: center;
}

.tipoTextoCenter{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 1em;
	text-align: center;
}
.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #cb418e;
    border-radius: .3rem;
}
.row{
	margin: 0!important;
	padding: 0!important;
}
.col-*{
	margin: 0!important;
	padding: 0!important;
}
.form-control {
  padding: 0.5rem;
  border: 1px solid;
  font-size: 1rem;
  color: black;
  font-weight: bold;
}
.form-control:focus {
    color: black;
 	background-color:#fff; 
    border-color:#5a0ece; 
    outline: 0;
    box-shadow: 0 0 0 0.2rem #4f307e9e;
}
info:not(:disabled):not(.disabled):active:focus, .show>.btn-info.dropdown-toggle:focus {
     box-shadow: 0 0 0 0.2rem rgba(169, 23, 187, 0.2);
}
.btn-info
{
	background-color:#cb418e!important;
	border: none;
}
.btn-info.focus, .btn-info:focus {
    box-shadow: none; 
}
.btn.focus, .btn:focus {
    outline: 0;
     box-shadow: none; 
}
.modal-dialog2 {
	max-width: 800px;
	margin: 1rem auto;
}
.modal-content {
	border-radius: 1.5rem;
}

.modal-body{
	padding: 2rem;
}

.h_divider{ 
	height:2px; 
	background: #4f307e;
}

.h_divider_w{ 
	height:2px; 
	background: white;
	margin-top: 25px;
	margin-bottom: 20px;
}

.quisomAssociacio{
	font-family: 'Asap', sans-serif;
	font-weight: 700;
	font-size: 1.8em;
	text-align:center !important; 
}

.carouAsoc{
  display: inline-block;
  margin-left:-4px;
}
.carouAsoc img{
  width:100%;
  height:auto;
}


.carousel {
   max-height: 400px;
   max-width: 500px;
   overflow: hidden;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.group-item {
  width: 100%;
}

@media (max-width: 575px){
	.centrarFooterMovil{
		text-align: center;
	}
}

@media (min-width: 576px) and (max-width: 767px){
	.centrarFooterMovil{
		text-align: center;
	}
}

@media (min-width: 768px) and (max-width: 991px){
	.centrarFooterMovil{
		text-align: center;
	}
}

@media (min-width: 992px) and (max-width: 1199px){

}

@media (min-width: 1200px){

}