/*colores corporativos:
Blanco roto: #fffcf0
Gris: #797778
Amarillo: #e7ab3b
Azul: #1d93d1
Rosa: #cb418e
Morado: #4f307e
*/
/*body{
	background-color: #fffcf0!important;
}*/
/*@import url('https://fonts.googleapis.com/css?family=Bitter|Oswald:700|Roboto:300,400');

*/
@import url('https://fonts.googleapis.com/css?family=Bitter|Oswald:700|Roboto:300,400|Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

body .no-padding{
  padding-left: 0;
  padding-right: 0;
}

body .carousel-indicators li{
  cursor:pointer;
}
body .carousel-control-prev-icon,
body .carousel-control-next-icon{

  cursor:pointer;
}

nav a{
	color: #4f307e!important;
	font-weight: bold;
}
footer{
/*	color: #4f307e!important;*/
	font-size:17px;
	background-color: #f7fafb;
	/*border-bottom: 10px solid #4f307e;*/
	color: #999999;
	width:100%;
	margin-top: 5rem;
	bottom: 0;
	
}
a:link, a:visited, a:hover{
	color: black;
    text-decoration: none;
}
a.PolitPriva:link, a.PolitPriva:visited, a.PolitPriva:hover{
	color: #cb418e!important;
	font-weight: bold;
}
a.Whatsapp:link, a.Whatsapp:visited, a.Whatsapp:hover{
	color: #01E675!important;
	font-weight: bold;
}
a.ColorNegre:link, a.ColorNegre:visited, a.ColorNegre:hover{
	color: black!important;
}
a.ColorGris:link, a.ColorGris:visited, a.ColorGris:hover{
	color:#999999;
}

i,.cursor{
	cursor:pointer;
	padding-right: 4%;
}
ul, li{
	list-style-type: none;
	margin: 0;
    padding: 0;
}

.associat {
	background-color: white; text-align: center;
}

.colorRosa{
	color: #cb418e;
}
.dissenyarVores{
	border-right-width: 10px !important;
    border-bottom-width: 10px !important;
    border-left-width: 10px !important;
    padding-top: 4% !important;
    padding-right: 4% !important;
    padding-bottom: 4% !important;
    padding-left: 4% !important;
    background-color: #ffffff !important;
}
.moureContactaEsquerra{
	width: 410px;
    padding-right: 60px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-align: left;
}

.ombraContacta{
	-webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.2);
}
.left{
	float: left;
}
.bordesRedondos{
	border-radius: 20px;
}
.tamañaoDivider{
	display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    background-color: black;
}

.carouselProva{
	height: 250px;
}
.colorBlancoLetra{
	color: white;
}

.caixaDecolorGris{
	max-width: 100%;
	height: 100%;
}
.padding{
	padding: 80px;
}
.btn-info{
	background-color:#cb418e!important;
	border: none;
}
.btn-info.focus, .btn-info:focus{
    box-shadow: none; 
}
.btn.focus, .btn:focus{
    outline: 0;
     box-shadow: none; 
}
.cargador{
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: rgba(95, 95, 95, 0.7);
}
.carousel-control-next, .carousel-control-prev{
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
     justify-content: center; 
    width: 5%;
    font-size: 2rem;
    color: #fff;
    text-align: center;
    opacity: .5;
}
.carousel-control-next-movil, .carousel-control-prev-movil{
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
     justify-content: center; 
    width: 5%;
    color: #fff;
    text-align: center;
    opacity: .5;
/*
    position: absolute;
    bottom: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: 10px;*/
}
.carousel-control-prev-movil{
    margin-left: 5rem;
    /*margin: 0px;*/
}
.carousel-control-next-movil{
    margin-left: 15rem;
   /*  margin: 0px;*/
}
.centrar{
	align-items: center;
}
.carouAsoc{
  display: inline-block;
  margin-left:-4px;
}
.carouAsoc img{
  width:100%;
  height:auto;
}

.carousel-inner img {
  margin: auto;
}

.carousel-innerPrincipal{
	width: 100%;
	height: 100%;
}

.carousel-innerAsso{
	width: 100%;
	height: auto;
}
.divCate{
	height: 100%;
	width: 100%;
}
.estiloAso{
	border-width: 2px;
	border-style: solid;
	border-color: #e7ab3b;
}
.form-control {
  padding: 0.5rem;
  border: 1px solid;
  font-size: 1rem;
  color: black;
  font-weight: bold;
}
.form-control:focus{
    color: black;
 	background-color:#fff; 
    border-color:#cb418e6b; 
    outline: 0;
    box-shadow: 0 0 0 0.2rem #cb418e8f;
}
.group{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.group-item{
  width: 100%;
}

.h_divider{ 
	height:2px; 
	background: #4f307e;
}

.h_dividerg{
	height: 2px!important;
	background: #C0C0C0;
}

.h_divider_footer{ 
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.h_divider_w{ 
	height:2px;
	background: #fffcf0;
	margin-top: 25px;
	margin-bottom: 20px;
}
.h_divider_p{
	height:2px; 
	background: #cb418e;
	margin-top: 25px;
	margin-bottom: 20px;
	position: absolute;
}
.imagecontainer {
  position: relative;
  overflow: hidden;
  transform: translateZ(0);
}

.imagecontainer:before {
  display: block;
  width: 100%;
  content: "";
  padding-bottom: 100%;
  height: 0;
}

.imagecontainer-img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  transition: 400ms transform;
}

.imagecontainer-img2{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  transition: 400ms transform;
}

.is-contain.imagecontainer .imagecontainer-img{
  object-fit: contain;
  font-family: "object-fit: contain";
}

.is-cover.imagecontainer .imagecontainer-img{
  object-fit: cover;
  font-family: "object-fit: cover";
}

.imagecontainer:hover .imagecontainer-img{
  transform: scale(1.1);
}
.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #cb418e;
    border-radius: .3rem;
}
.modal-dialog2{
	max-width: 800px;
	margin: 1rem auto;
}
.modal-content{
	border-radius: 1.5rem;
}
.modal-body{
	padding: 2rem;
}

.preloader{
	margin-top: 18%;
}
.pruebaImg{
	max-width: 100%;
    max-height: 100%;
}
.pruebaModal{
	width: 100%;
	height: 100%;
}
.quisomAssociacio{
	font-family: 'Asap', sans-serif;
	font-weight: 700;
	font-size: 1.8em;
	text-align:center !important; 
}
.row{
	margin: 0!important;
	padding: 0!important;
}
.sizeModal{
	width: 100%;
	height: 100%;
}
.tipoXula {
	font-family: 'Permanent Marker', cursive;
	color: #cb418e;
	font-size: 1.6em;
}
.tipoSubTitulo, .tipoSubTituloCenter, .tipoSubTituloAso {
	font-family: 'Bitter', serif, bold;
	font-weight: bold;
	font-size: 1.3em;
}
.tipoSubTituloCenter{
	text-align: center;
}
.tipoSubTituloAso{
	color: #cb418e!important;
}
.tipoTexto, .tipoTextoCenter, .tipoTextoBlanco, .tipoTextoAso, .txtCategoria{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 1em;
}
.tipoTextoCenter{
	text-align: center;
}
.tipoTextoBlanco{
	color: #fffcf0;
}
.tipoTextoAso{
	font-size: 0.9em;
}

.btn-outline-primary{
	color: #cb418e!important;
	border-color: #cb418e!important;
	background-color: #fff!important; 
}

.tipoTituloHome{
	font-family: 'Quicksand', sans-serif;
	font-weight: 500;
	font-size: 1.5em;
	color: #C0C0C0;
}
.tipoTitulo, .tipoTituloCenter, .tipoTituloBlanco{
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	font-size: 2em;
	text-transform: uppercase;
}
.txtCategoria{
	color: #cb418e;
	font-style: bold;
}
.tipoTituloCenter{
	text-align: center;
}
.tipoTituloBlanco{
	color: #fffcf0;
}
.title-block{
	text-align: center;
	position: relative;
	margin-bottom: 30px;
}
.wrapper{
	width: 100%;
	margin: 0 auto;
}
.title-block__title--color-primary{
	background:#cb418e;
	color:#fffcf0;
}
.title-block__title{
    display: inline-block;
    text-align: center;
    min-width: 300px;
    text-transform: uppercase;
    -webkit-border-radius: 25px;
    line-height: 52px!important;
}
.card{
	background-color: #f0f0f0;
	border: none;
}
@media (max-width: 575px){

	.arrow-circle-rights ,.arrow-circle-lefts{
	/*	padding-top: calc(167px / 2 - 15px);*/
		/*margin-left:-15px;*/
	    color: #999;
	    font-family: flexslider-icon;
	    font-size: 25px;
	    display: flex;
	   margin-top: -20rem;
	}
	.centrarFooterMovil{
		text-align: center;
	}
	.logoVila{
		width: 150px;
	}
	.hidemovil{
		display: none;
	}
	.txtMovil{
		font-size: 1.1em;
		text-align: center;
	}
	.h_divider{
		height: 1px!important;
	}
	.h_dividerg{
		height: 1px!important;
		color: #CCCCCC;
	}
	.carousel-innerPrincipal{
		height: 300px;
	}
	.provaCar{
	background-image: url("../img/slider_1.jpg");
	background-size: cover;
  	background-position: 50% 50%;
  	width: 100%;
 	height: 100%;
	}
	.provaCar img {
  	visibility: hidden; /*HOLA! esto sirve para que desaparezca el tag img y para que el SEO crea que hay un tag img igualmente, porque poner imágenes por background-image es muy feo*/
	}
	.container{
		margin-left: 0;
		margin-right: 0;
		padding-right: 0;
		padding-left: 0;
	}
	.bannerAlto{
		height: 100px;
	}
	.tipoSubtitulo{
		text-align: center;	}

}

@media (min-width: 576px) and (max-width: 767px){
	.centrarFooterMovil{
		text-align: center;
	}
	.hidemovil_bossa{
		display: none;
	}
	.bannerAlto{
		height: 100px;
	}
	.tipoSubtitulo{
		text-align: center;	}

}
@media (min-width: 768px){ /*ESTO ES PARA PANTALLAS DE 768 < */
	.bannerAlto{
		height: 166.6px;
		width: 97%;
		display: block;
		margin:auto;
	}
	.tipoSubtitulo{
		text-align: center;	}
}

@media (min-width: 768px) and (max-width: 991px){
	.centrarFooterMovil{
		text-align: center;
	}
	.hidemovil{
		display: none;
	}
	.container{
		padding-left: 0!important;
		padding-right: 0!important;
	}
	.tipoSubtitulo{
		text-align: center;	}

	.titlesHome{
		margin-left: 2%;
	}
}
@media (min-width: 992px) and (max-width: 1199px){
	.middle{
		border-right: 2px solid #cb418e;
	}
	.posicioContacta{
		position: relative;
	    right:105px;
	}
}

@media (min-width: 1200px){
	.middle{
		border-right: 2px solid #cb418e;
		}
	.posicioContacta{
	position: relative;
    right:105px;
	}	
}