/*colores corporativos:

Blanco roto: #fffcf0
Gris: #797778
Amarillo: #e7ab3b
Azul: #1d93d1
Rosa: #cb418e
Morado: #4f307e

*/
/*body{
	background-color: #fffcf0!important;
}*/

.colorLEtraCarlos{
	color: red!important;
}
@import url('https://fonts.googleapis.com/css?family=Bitter|Oswald:700|Roboto:300,400');



body .no-padding{
  padding-left: 0;
  padding-right: 0;
}

body .carousel-indicators li{
  cursor:pointer;
}
body .carousel-control-prev-icon,
body .carousel-control-next-icon{

  cursor:pointer;
}

nav a{
	color: #4f307e!important;
	font-weight: bold;
}
footer{
	color: #4f307e!important;
	font-size:17px;
	width:100%;
	margin-top: 20px;
	bottom: 0;
}

/*.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}

.navbar-toggler-icon {
    background-image: $navbar-light-toggler-icon-bg;
  }*/
a:link{
	color: #1d93d1;
    text-decoration: none;
}
a:visited{
	color: #1d93d1;
    text-decoration: none;
}
a:hover{
	color: #4f307e;
    text-decoration: none;
}
a.PolitPriva:link, a.PolitPriva:visited, a.PolitPriva:hover{
	color: #cb418e!important;
	font-weight: bold;
}
a.Whatsapp:link, a.Whatsapp:visited, a.Whatsapp:hover{
	color: #01E675!important;
	font-weight: bold;
}
a.ColorNegre:link, a.ColorNegre:visited, a.ColorNegre:hover{
	color: black!important;
}

i,.cursor{
	cursor:pointer;
	padding-right: 4%;
}
ul, li{
	list-style-type: none;
	margin: 0;
    padding: 0;
}
.colorRosa{
	color: #cb418e;
}

.caixaDecolorGris{
	background-color: #f5f5f5;
    border-color: #eeeeee;
    border-style: solid;
    border-width: 1px 0px 1px 0px;
}
.padding{
	padding-top: 80px;
    padding-bottom: 80px;
}
.btn-info
{
	background-color:#cb418e!important;
	border: none;
}
.btn-info.focus, .btn-info:focus {
    box-shadow: none; 
}
.btn.focus, .btn:focus {
    outline: 0;
     box-shadow: none; 
}
.cargador {
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: rgba(95, 95, 95, 0.7);
}

/*.carousel-control-next-icon {
    background-image: url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' f…3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E);
}*/
.carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #cb418e no-repeat center center;
    background-size: 100% 100%;
}
.carouAsoc{
  display: inline-block;
  margin-left:-4px;
}
.carouAsoc img{
  width:100%;
  height:auto;
}

.carousel-inner img {
  margin: auto;
}

.carousel-innerPrincipal{
	width: 100%;
	height: 100%;
	}

.carousel-innerAsso{
	width: 100%;
	height: auto;
	}
.divCate{
	height: 100%;
	width: 100%;
}
.estiloAso{
	border-width: 2px;
	border-style: solid;
	border-color: #e7ab3b;
}
.form-control {
  padding: 0.5rem;
  border: 1px solid;
  font-size: 1rem;
  color: black;
  font-weight: bold;
}
.form-control:focus {
    color: black;
 	background-color:#fff; 
    border-color:#5a0ece; 
    outline: 0;
    box-shadow: 0 0 0 0.2rem #4f307e9e;
}
.group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.group-item {
  width: 100%;
}

.h_divider{ 
	height:2px; 
	background: #4f307e;
}
.h_divider_w{ 
	height:2px; 
	background: #4f307e;
	margin-top: 25px;
	margin-bottom: 20px;
}
.imagecontainer {
  position: relative;
  overflow: hidden;
  transform: translateZ(0);
}

.imagecontainer:before {
  display: block;
  width: 100%;
  content: "";
  padding-bottom: 100%;
  height: 0;
}

.imagecontainer-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  transition: 400ms transform;
}
.is-contain.imagecontainer .imagecontainer-img {
  object-fit: contain;
  font-family: "object-fit: contain";
}

.is-cover.imagecontainer .imagecontainer-img {
  object-fit: cover;
  font-family: "object-fit: cover";
}

.imagecontainer:hover .imagecontainer-img {
  transform: scale(1.1);
}
.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #cb418e;
    border-radius: .3rem;
}
.modal-dialog2 {
	max-width: 800px;
	margin: 1rem auto;
}
.modal-content {
	border-radius: 1.5rem;
}
.modal-body{
	padding: 2rem;
}

.preloader {
	margin-top: 18%;
}
.pruebaImg{
	max-width: 100%;
    max-height: 100%;
}
.pruebaModal{
	width: 100%;
	height: 100%;
}
.quisomAssociacio{
	font-family: 'Asap', sans-serif;
	font-weight: 700;
	font-size: 1.8em;
	text-align:center !important; 
}
.row{
	margin: 0!important;
	padding: 0!important;
}
.sizeModal {
	width: 100%;
	height: 100%;
}

.tipoSubTitulo, .tipoSubTituloCenter{
	font-family: 'Bitter', serif;
	font-weight: 400;
	font-size: 1.3em;
}
.tipoSubTituloCenter{
	text-align: center;
}
.tipoTexto,.tipoTextoCenter{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 1em;
}
.tipoTextoCenter{
	text-align: center;
}
.tipoTitulo,.tipoTituloCenter{
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	font-size: 2em;
	text-transform: uppercase;
}
.tipoTituloCenter{
	text-align: center;
}


@media (max-width: 575px){
	.centrarFooterMovil{
		text-align: center;
	}
	.logoVila{
		width: 150px;
	}
	.hidemovil{
		display: none;
	}
	.txtMovil{
		font-size: 1.1em;
		text-align: center;
	}
	.h_divider{
		height: 1px!important;
	}
	.carousel-innerPrincipal{
		height: 300px;
	}
	.provaCar{
	background-image: url("../img/slider_1.jpg");
	background-size: cover;
  	background-position: 50% 50%;
  	width: 100%;
 	height: 100%;
	}
	.provaCar img {
  	visibility: hidden; /*HOLA! esto sirve para que desaparezca el tag img y para que el SEO crea que hay un tag img igualmente, porque poner imágenes por background-image es muy feo*/
	}
	.container{
		margin-left: 0;
		margin-right: 0;
		padding-right: 0;
		padding-left: 0;
	}
	.bannerAlto{
		height: 100px;
	}
	.hideMovil{
		display: none;
	}
	.tipoSubtitulo{
		text-align: center;	}

}

@media (min-width: 576px) and (max-width: 767px){
	.centrarFooterMovil{
		text-align: center;
	}
	.hidemovil_bossa{
		display: none;
	}
	.bannerAlto{
		height: 100px;
	}
	.tipoSubtitulo{
		text-align: center;	}

}

@media (min-width: 768px) and (max-width: 991px){

	.centrarFooterMovil{
		text-align: center;
	}
	.hidemovil{
		display: none;
	}
	.container{
		padding-left: 0!important;
		padding-right: 0!important;
	}
	.tipoSubtitulo{
		text-align: center;	}

.titlesHome{
	margin-left: 2%;
}

}
@media (min-width: 768px){ /*ESTO ES PARA PANTALLAS DE 768 < */

	.bannerAlto{
		height: 166.6px;
		width: 97%;
		display: block;
		margin:auto;
	}
	.tipoSubtitulo{
		text-align: center;	}
}
@media (min-width: 992px) and (max-width: 1199px){

}

@media (min-width: 1200px){

}