<div class="row">
	<div class="my-3 col-10 offset-1">
		<div class="tipoSubTituloCenter mb-3">
		{{associat.nomAssociat}}
		</div>
	
		<div class="row">
			<div class="col-4">
				<img ng-src="{{associat.logoAssociat!=''?'img/associats/'+associat.logoAssociat:'img/noimage.png'}}" class="img-fluid imageBordes" alt="associat">
			</div>
			<div class="col-8">
				Info tienda:<br>
				{{associat.txtAssociat}}
				<br><br>
				Horaris:<br>
				{{associat.horari}}
				<br><br>
				Telefono1:<br>
				{{associat.telf1}}<br>
				Telefono2:<br>
				{{associat.telf2}}<br>
				Whats:<br>
				{{associat.whatsapp}}
				<br><br>
				Adreça:<br>
				{{associat.adreca}}
				<br><br>
				Web:<br>
				{{associat.URLWeb}}
				<br><br>
				Mail:<br>
				{{associat.email}}
			</div>
			
		</div>
	</div>
</div>

<div class="row">
	<div class="col-12 tipoSubTitulo">
		ON SOM:
	</div>

	<div class="col">
		<img src="img/mapiya.png" class="pruebaImg">
	</div>
</div>

<div class="row">
	<div class="col-12 tipoSubTitulo">
		GALERIA:
	</div>
	<div class="container col-12">
		<div class="row">
			<div class="card-columns">
				<div class="card" ng-repeat="galeria in galeriaassociat">
					<img class="card-img-top img-fluid d-md-none" ng-src="{{galeria.fotoGaleria!=''?'img/galeriaassociat/'+galeria.fotoGaleria:'img/noimage.png'}}" id="fotoFull">
					<img class="card-img-top img-fluid d-none d-md-inline" ng-src="{{galeria.fotoGaleria!=''?'img/galeriaassociat/'+galeria.fotoGaleria:'img/noimage.png'}}" data-toggle="modal" data-target="#modalFoto" id="fotoFull" ng-click="modalFoto(galeria.fotoGaleria)">
				</div>
			</div>
		</div>
	</div>
</div>