<div class="row">
	<div class=" tipoTitulo mt-5  text-center col-12 ">
		Qui Som?
	</div>
	<div class="text-center col-12 tipoTexto">
		<p>
		{{vila.quiSom}}
		{{vila.equip}}
		</p>
	</div>
	
</div>
<div class="row">
	<div class="tipoTitulo mt-5 col-12 text-center tipoTitulo">
		Serveis
	</div>
	<div class="text-center col-12 tipoTexto">
		{{serveis.nomServei}}
		<p>
			{{serveis.txtServei}}
		</p>
	</div>
</div>

<div class="row">
	<div class="tipoTitulo mt-5 col-12 text-center tipoTitulo">
		Equip
	</div>
	<div class="tipoTexto">
		
	</div>
</div>