<div class="row">
	<div class="container my-3">
		<div class="tipoSubTituloCenter mb-3">
		{{associat.nomAssociat}}
		</div>
	
		<div class="row">
			<div class="col-12 col-md-6 mb-4">
				<img ng-src="{{associat.logoAssociat!=''?'img/associats/'+associat.logoAssociat:'img/noimage.png'}}" class="img-fluid imageBordes" alt="associat">
			</div>
			<div class="col-12 col-md-6">
				{{associat.txtAssociat}}
				<br><br>
				Horaris:<br>
				{{associat.horari}}
				{{associat.telf1}}<br>
				{{associat.telf2}}<br>
				{{associat.whatsapp}}
				<br>
				{{associat.adreca}}
				<br>
				{{associat.URLWeb}}
				<br>
				{{associat.email}}
			</div>
			
		</div>
	</div>
</div>

<div class="row">
	<div class="col-12 tipoSubTitulo">
		ON SOM:
	</div>

	<div class="col">
		<img src="img/mapiya.png" class="pruebaImg">
	</div>
</div>

<div class="row">
	<div class="col-12 tipoSubTitulo">
		GALERIA:
	</div>
	<div class="container col-12">
		<div class="row">
			<div class="card-columns">
				<div class="card" ng-repeat="galeria in galeriaassociat">
					<img class="card-img-top img-fluid d-md-none" ng-src="{{galeria.fotoGaleria!=''?'img/galeriaassociat/'+galeria.fotoGaleria:'img/noimage.png'}}" id="fotoFull">
					<img class="card-img-top img-fluid d-none d-md-inline" ng-src="{{galeria.fotoGaleria!=''?'img/galeriaassociats/'+galeria.fotoGaleria:'img/noimage.png'}}" data-toggle="modal" data-target="#modalFoto" id="fotoFull" ng-click="modalFoto(galeria.fotoGaleria)">
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade " id="modalFoto" tabindex="-1" role="dialog" aria-hidden="true">
  	<div class="modal-dialog modal-dialog-centered" role="document">
  		<div class="modal-content">
			<div class="modal-body">
	      		<div>
	      			<img ng-src="img/galeriaassociats/{{fotoModal}}" class="img-fluid sizeModal">
	      		</div>
	     	</div>
	    </div>
 	</div>
</div>