<div class="row">
	<div class="col-12 text-center p-md-5 p-4" style="max-width: 100%;height: 100%;background-image: url(img/{{vila.cabeceraAssociacio}})">
		<div class="col-12 tipoTituloBlanco text-center">
			<span>Qui som?</span> 
		</div>
		<br>
		<div class="h_divider_w mb-1 mt-1 hideMovil"></div>
		<br>
		<p class="tipoTextoBlanco">
			{{vila.quiSom}}
		</p>
	</div>
</div>

<br>
<div class="mb-1 mt-md-4 mb-md-4 txtMovil tipoTituloHome text-center">
	Serveis
</div>

<div class="row">
	<div ng-repeat="servei in serveis" class="col-12 tipoTexto mt-4 colorBlanco">
		<b class="tipoTextoNegrita">{{$index+1}}-{{servei.nomServei}}:</b>{{servei.txtServei}}<br>
		<span ng-repeat="subservei in servei[3]"><p><li class="offset-1">{{subservei.nomSubservei}}:{{subservei.txtSubservei}}</p></span></li>
	</div>
</div>

<br>
<div class="mb-1 mt-md-4 mb-md-4 txtMovil tipoTituloHome text-center">
	Equip
</div>

<div class="row">
	<div class="tipoTexto text-center col-12 mt-4 colorBlanco">
		<pre class="tipoTexto">{{vila.equip}}</pre>
	</div>
</div>













