<div class="row"> 
	<div class="col-12 mt-3 mt-md-5 mb-md-4 mb-2 estiloContacta text-center"><h2 class="tipoTitulo">Contacta'ns{{formCont}}</h2></div>
</div>
<div class="row">
	<div class="col-12 col-md-8 ">
		<div class="row">
			<div class="col-lg-12 offset-0  alert alert-info pt-4 text-dark" role="alert" ng-show="contactaMissatge">{{formAlertObligat}} {{msg}}</div>
			<form name="formContacta" ng-submit="enviaEmail()" novalidate ng-hide="contactaMissatge">
				<div class=" form-row">
					
					<!-- nommmmmmmmm -->
					<div class="form-group col-md-4 mb-3" ng-class="{ 'has-error' : formContacta.nomContacte.$invalid && !formContacta.nomContacte.$pristine }">
			            <input type="text" name="nomContacte" class="form-control" ng-model="contactans.nomContacte"  placeholder="Nom"  ng-maxlength="30" required>
						<p ng-show="formContacta.nomContacte.$error.maxlength" class="help-block text-danger">El nom és massa llarg{{forNomLlarg}}</p>
			            <p ng-show="formContacta.nomContacte.$invalid && !formContacta.nomContacte.$pristine" class="help-block text-danger">El camp nom és obligatori{{formNom}}</p>
			        </div>
			      
			        <!-- COGNOMMMMMMMMMMM -->
			        <div class="form-group col-md-4  offfset-4  mb-3" ng-class="{ 'has-error' : formContacta.cognomContacte.$invalid && !formContacta.cognomContacte.$pristine }">
			            <input type="text" name="cognomContacte" class="form-control" ng-model="contactans.cognomContacte"  placeholder="Cognom"  ng-maxlength="30" required>
						<p ng-show="formContacta.cognomContacte.$error.maxlength" class="help-block text-danger">El nom és massa llarg{{forNomLlarg}}</p>
			            <p ng-show="formContacta.cognomContacte.$invalid && !formContacta.cognomContacte.$pristine" class="help-block text-danger">El camp nom és obligatori{{formNom}}</p>
			        </div>
			        <div class="form-group  col-md-12   mb-3 ">
					    <div class="form-check">
					      <input class="form-check-input" type="radio" name="tipoUs" id="clickEmp" ng-click="muestraNom(true)">
					      <label class="form-check-label tipoTexto" for="clickEmp">
					       EMPRESA
					      </label>
					    </div>
					</div>
					<div ng-show="muestraInput">
						<div class="form-group col-md-12 mb-3" ng-class="{ 'has-error' : formContacta.nomEmpresa.$invalid && !formContacta.nomEmpresa.$pristine }">
			            <input type="text" name="nomEmpresa" class="form-control" ng-model="contactans.nomEmpresa"  placeholder="Nom Comercial"  ng-maxlength="30">
						<p ng-show="formContacta.nomEmpresa.$error.maxlength" class="help-block text-danger">El nom és massa llarg{{forNomLlarg}}</p>
			            <p ng-show="formContacta.nomEmpresa.$invalid && !formContacta.nomEmpresa.$pristine" class="help-block text-danger">El camp nom és obligatori{{formNom}}</p>
			        	</div>
					</div>
					 <div class="form-group  col-md-12 mb-3 ">
					    <div class="form-check">
					      <input class="form-check-input" type="radio" name="tipoUs" id="clickPar" ng-checked="contactans.checkTipo=='Particular'" ng-click="muestraNom(false)">
					      <label class="form-check-label tipoTexto" for="clickPar">
					       PARTICULAR
					      </label>
					    </div>
					</div>

					<!-- emailllllllllllll -->
			        <div class="form-group col-md-4 mb-3 " ng-class="{ 'has-error' : formContacta.email.$invalid && !formContacta.email.$pristine }">
			            <input type="email" name="email" class="form-control" ng-model="contactans.email" placeholder="Email" required>
			            <p ng-show="formContacta.email.$invalid && !formContacta.email.$pristine" class="help-block text-danger">L'adreça de correu electrònic introduïda no és vàlida. {{formEmailInco}}</p>

			        </div>
						<!-- telefonnnnnnnnnnnn -->
			        <div class="form-group col-md-4 mb-3" ng-class="{ 'has-error' : formContacta.telefon.$invalid && !formContacta.telefon.$pristine }">
			            <input type="number" name="telefon" class="form-control" ng-model="contactans.telefon" placeholder="Telèfon " ng-minlength="8" ng-maxlength="9" required>
			            <p ng-show="formContacta.telefon.$error.minlength" class="help-block text-danger">El numero és incorrecte</p>
						<p ng-show="formContacta.telefon.$error.maxlength" class="help-block text-danger">El numero és massa llarg</p>
					</div>
					<!-- dubtessss -->
					<div class="form-group col-12 col-md-8 mt-md-2" ng-class="{ 'has-error' : formContacta.txtContacte.$invalid && !formContacta.txtContacte.$pristine }">
				         <textarea name="txtContacte" class=" form-control" type="text" ng-model="contactans.txtContacte" required></textarea>
				         <p ng-show="formContacta.txtContacte.$invalid && !formContacta.txtContacte.$pristine" class="help-block text-danger">El camp és requerit.</p>
				    </div><br>
			        <div class="form-group col-12 col-md-8 tipoTexto">
					    <div class="form-check">
					      <input class="form-check-input" type="radio" id="gridCheck"  ng-checked="true" ng-model="simpat.termes">
					      <label class="form-check-label" for="gridCheck">

					          He llegit i accepto la <a class="PolitPriva" ng-href="#politica" target="_blank">Política de Privadesa.</a>
					      </label>
					    </div>
					</div><br>
		        	<div class="col-12">
						<button class="col-4 col-md-2 offset-md-6 my-md-4 mb-4 mt-md-4 mr-md-3 btn btn-info btn-lg btnAfi tipoTexto" type="submit"  ng-disabled="formContacta.$invalid">Envia</button>
					</div>
				</div>	
			</form>
			<input type="button" class="col-md-4 offset-1 my-md-4 mt-md-4 mb-4 btn btn-dark btnAfi tipoTexto" data-toggle="modal" data-target="#modalFitxa" id="fitxaFull" ng-click="modalFitxa" value="Vols fer-te soci">	
		</div>
	</div>

	<div class="col-12 col-md-4">
		<div class="row">
				<div class="col-12">
					<img class="img-fluid" ng-src="img/{{contactaLlistat.logoVila}}"  title="Logo vila">
					<h4 class="tipoSubTitulo mt-2">{{contactaLlistat.nom}}</h4>
				</div>
				<div class="col-12 mt-4">
					<span><b>Telèfon:</b>{{contTel}}</span><br>
					<i class="fab fa-whatsapp mr-3"><span class="tipoTexto">{{contactaLlistat.telf}}</span></i><br>
					<span><b>Email:</b><span class="tipoTexto">{{contactaLlistat.email}}</span></span><br>
					<span><b>Horaris per contactar:</b></span><br>
					<span class="tipoTexto">
						{{contactaLlistat.horari}}
					</span><br>
					<a ng-href="{{contactaLlistat.facebook}}" target="_blank"><i class="fab fa-facebook-square fa-2x fa-lg mt-2" ng-href="{{contactaLlistat.facebook}}" target="_blank"></i></a><br>

				</div> 
		</div>	
	</div>
</div>

<div class="modal fade" id="modalFitxa" tabindex="-1" role="dialog" aria-labelledby="modalFitxaCentered" aria-hidden="true">
	<div class="modal-dialog modal-dialog2 modal-dialog-centered col-12" role="document">
		    <div class="modal-content">
		      	<div class="modal-body">
		      		<div class="container-fluid">
							<div class="row">
							 	<div ng-hide="fitxaSuccess">
								 	<div class="my-2 mb-md-4 mb-2 tipoTitulo"> SOCI{{fitxaAfi}}
								 		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								          <span aria-hidden="true">&times;</span>
								        </button>
								 	</div>
									<form name="sociVila" id="sociVila" ng-submit="enviaSoci()" novalidate>
										<div class="form-row">
										  <div class="form-group col-12 mb-3" ng-class="{ 'has-error' : sociVila.inputnomComercial.$invalid && !sociVila.inputnomComercial.$pristine }">
											<input type="text" class="form-control" id="inputnomComercial" placeholder="El teu nom" name="inputnomComercial" ng-model="contactaSoci.nomComercial" ng-maxlength="25" required="">
											<p ng-show="sociVila.inputnomComercial.$error.maxlength" class="help-block text-danger">El nom és massa llarg{{forNomLlarg}}</p>
											<p ng-show="sociVila.inputnomComercial.$invalid && !sociVila.inputnomComercial.$pristine" class="help-block text-danger">El camp nom és obligatori{{formNom}}</p>
										  </div>
										  <div class="form-group col-12" ng-class="{ 'has-error' : sociVila.inputSectorComercial.$invalid && !sociVila.inputSectorComercial.$pristine }">
										    <input type="text" class="form-control" id="inputSectorComercial" placeholder="Sector" name="inputSectorComercial" ng-model="contactaSoci.sectorComercial" ng-maxlength="250" required="">
										    <p ng-show="sociVila.inputSectorComercial.$error.maxlength" class="help-block text-danger">L'adreça és massa llarga{{forAdrecaLlarg}}</p>
											<p ng-show="sociVila.inputSectorComercial.$invalid && !sociVila.inputSectorComercial.$pristine" class="help-block text-danger">El camp és obligatori{{formObli}}</p>
										  </div>
										  <div class="form-group col-12" ng-class="{ 'has-error' : sociVila.inputAdr.$invalid && !sociVila.inputAdr.$pristine }">
										    <input type="text" class="form-control" id="inputAdr" placeholder="La teva adreça" name="inputAdr" ng-model="contactaSoci.adreca" ng-maxlength="250" required="">
										    <p ng-show="sociVila.inputAdr.$error.maxlength" class="help-block text-danger">L'adreça és massa llarga{{forAdrecaLlarg}}</p>
											<p ng-show="sociVila.inputAdr.$invalid && !sociVila.inputAdr.$pristine" class="help-block text-danger">El camp és obligatori{{formObli}}</p>
										  </div>
										</div>
										<div class="form-row">
										    <div class="form-group col-md-6" ng-class="{ 'has-error' : sociVila.inputTelefon.$invalid && !sociVila.inputTelefon.$pristine }">
										      <input type="number" class="form-control" id="inputTelefon" name="inputTelefon" ng-model="contactaSoci.telf" ng-maxlength="9" ng-minlength="9" placeholder="Telèfon">
										      <p ng-show="sociVila.inputTelefon.$error.minlength" class="help-block text-danger">El número és incorrecte{{forNumIncor}}</p>
				            				  <p ng-show="sociVila.inputTelefon.$error.maxlength" class="help-block text-danger">El número és massa llarg{{forNumLlarg}}</p>
										    </div>
										   <div class="form-group col-md-6" ng-class="{ 'has-error' : sociVila.inputEmail.$invalid && !sociVila.inputEmail.$pristine }">
										    <input type="text" class="form-control" id="inputEmail" placeholder="Introdueix el teu correu electrònic" name="inputEmail" ng-model="contactaSoci.email" ng-maxlength="100">
										    <p ng-show="sociVila.inputEmail.$invalid && !sociVila.inputEmail.$pristine" class="help-block text-danger">L'adreça de correu electrònic introduïda no és vàlida{{formEmailInco}}</p>
										  </div>
										  <div ng-show="mailIncorrecte" class="alert alert-danger" role="alert">{{msg}}</div>
									    </div>
									    <div class="form-row">
									    	<span class="tipoTexto"></span><br>
										    <div class="form-group col-12" ng-class="{ 'has-error' : sociVila.personaContacte.$invalid && !sociVila.personaContacte.$pristine }">
									         <textarea name="personaContacte" class=" form-control" type="text" ng-model="contactaSoci.personaContacte" required></textarea>
									         <p ng-show="sociVila.personaContacte.$invalid && !sociVila.personaContacte.$pristine" class="help-block text-danger">El camp és requerit.</p>
									    	</div><br>
									    </div>
									    
								    	<div class="form-row">
									    	<span class="tipoTexto">Horari per contactar-nos</span><br>
									    	<div class="form-group col-12" ng-class="{ 'has-error' : sociVila.horari.$invalid && !sociVila.horari.$pristine }">
									    	<textarea name="horari" class=" form-control" type="text" ng-model="contactaSoci.horari" required></textarea>
											<p ng-show="sociVila.horari.$error.maxlength" class="help-block text-danger">El nom és massa llarg{{forNomLlarg}}</p>
								           <!--  <p ng-show="sociVila.horari.$invalid && !sociVila.horari.$pristine" class="help-block text-danger">El camp nom és obligatori{{formNom}}</p> -->
								        	</div>
										</div>
								
									      <div class="form-check tipoTexto">
									      <input class="form-check-input" type="checkbox" name="tipoUs" id="gridCheck" ng-checked="true" ng-model="contactaSoci..termes">
									      <label class="form-check-label" for="gridCheck">

									      He llegit i accepto la <a class="PolitPriva" ng-href="#politica" target="_blank">Política de Privadesa.</a>

									      </label>
									      </div>
								 
								  <button type="submit" class="col-12 btn btn-info tipoTexto mt-5 py-2" ng-disabled="sociVila.$invalid">Envia</button>
								</form><br>
							</div>
						</div><br>
						<div ng-show="fitxaSuccess">
							<span class="my-2 mb-4">Benvingut</span><br>
							<span class="">Ara ets un més de la Vila Olímpica!</span><br>
							<span>Les teves dades s'han registrat correctament i en breus rebràs un correu electrònic de benvinguda. </span><br>
							<button ng-click="reload()" class="btn btn-info">D'acord</button>
						</div>
				</div>
			</div>
	    </div>
	</div>
</div>
