<div class="row">
	<div class="col-12 col-md-9 mt-5" id="mapId">
		<img src="img/mapiya.png" class="pruebaImg">
	</div>
	<div class="col-12 col-md-3">
		<div class="mt-5">
			<div class="py-2"><button type="button" class="btn btn-outline-info w-100 dirButton">Moda</button></div>
			<div class="py-2"><button type="button" class="btn btn-outline-info w-100 dirButton">Veterinari</button></div>
			<div class="py-2"><button type="button" class="btn btn-outline-info w-100 dirButton">Esport</button></div>
			<div class="py-2"><button type="button" class="btn btn-outline-info w-100 dirButton">Celler</button></div>
		</div>
	</div>
</div>

<div class="row">
	<div class="tipoTitulo my-5">
		Associats
	</div>
</div>

<div class="row">	
	<div ng-repeat="associat in associats " ng-href="#/directori/{{associat.idAssociat}}" class="col-6">
		<div class="row align-items-center estiloAso">
			<div class="col">
				<div class="card">
					<div class="group-item">
						<div class="imagecontainer is-cover">	
							<a ng-href="#/directori/{{associat.idAssociat}}">
								<img ng-src="{{associat.logoAssociat!=''?'img/associats/'+associat.logoAssociat:'img/noimage.png'}}" class="imagecontainer-img lazyload" alt="associat">
							</a>
						</div>
					</div>
				</div>
			</div>
			
			
			<div class="col">
				<div class="tipoSubTitulo mb-1">
					<a ng-href="#/directori/{{associat.idAssociat}}">
					{{associat.nomAssociat}}
					</a>
				</div>

				<div class="tipoTexto mb-1">
					categoria
					{{categoriaassociat.principal}}
				</div>

				<div class="tipoTexto">
					{{associat.adreca}}
				</div>

				<div class="tipoTexto">
					{{associat.telf1}}
					{{associat.telf2}}
					{{associat.email}}
				</div>
			</div>
		</div>
	</div>		
</div>

<!-- <div class="row" ng-hide="llistat">
	<div class="mt-4 col-10 offset-1">
		<div class="tipoTitulo">
			<a href="#/noticies">TORNAR A DIRECTORI</a>
		</div>
		<div class="h_divider mb-4"></div>

		<div class="tipoSubTitulo mb-4">
			{{associats.nomAssociat}}
		</div>

		<div class="row mb-4">
			<div class="col-12 col-lg-6 mb-4">
			<img ng-src="{{associat.logoAssociat!=''?'img/noticies/'+associat.logoAssociat:'img/noimage.png'}}" class="img-fluid imageBordes" alt="associat">
			</div>

			<div class="col-12 col-lg-6">
				<div class="tipoTexto">
				<b>info:</b>
				<br>
				{{associat.txtAssociat}}
				<br><br>
				<b>horari:</b>
				<br>
				{{associat.horari}}
				<br><br>
				<b>telefono:</b>
				<br>
				{{associat.telf1}}
				{{associat.telf2}}
				{{associat.whatsapp}}
				<br><br>
				<b>adreça:</b>
				<br>
				{{associat.adreca}}
				<br><br>
				<b>xarxes:</b>
				<br>
				{{associat.facebook}}
				{{associat.URLWeb}}
				</div>
			</div>
		</div>

		<div>
			ON SOM?
		</div>

		<div>
			GALERIA
		</div>
	</div>
</div> -->