<div class="row">
	<div class="col-12 col-md-9 mt-5" id="mapId">
		<img src="img/mapiya.png" class="pruebaImg">
	</div>
	<div class="col-12 col-md-3">
		<div class="mt-5">
			<div class="py-2"><button type="button" class="btn btn-outline-info w-100 dirButton">Moda</button></div>
			<div class="py-2"><button type="button" class="btn btn-outline-info w-100 dirButton">Veterinari</button></div>
			<div class="py-2"><button type="button" class="btn btn-outline-info w-100 dirButton">Esport</button></div>
			<div class="py-2"><button type="button" class="btn btn-outline-info w-100 dirButton">Celler</button></div>
		</div>
	</div>
</div>

<div class="row">
	<div class="tipoTitulo my-3">
		Associats
	</div>
</div>

<div class="row">	
	<div ng-repeat="associat in associats " ng-href="#/directori/{{associat.idAssociat}}" class="col-12 col-md-6 mb-4">
		<div class="row align-items-center estiloAso">
			<div class="col">
				<div class="card">
					<div class="group">
						<div class="group-item">
							<div class="imagecontainer is-cover">	
								<a ng-href="#/directori/{{associat.idAssociat}}">
									<img ng-src="{{associat.logoAssociat!=''?'img/associats/'+associat.logoAssociat:'img/noimage.png'}}" class="imagecontainer-img lazyload" alt="associat">
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			
			<div class="col">
				<div class="tipoSubTitulo mb-1">
					<a ng-href="#/directori/{{associat.idAssociat}}">
					{{associat.nomAssociat}}
					</a>
				</div>

				<div class="tipoTexto mb-1">
					categoria
					{{categoriaassociat.principal}}
				</div>

				<div class="tipoTexto">
					{{associat.adreca}}
				</div>

				<div class="tipoTexto">
					{{associat.telf1}}
					{{associat.telf2}}
					{{associat.email}}
				</div>
			</div>
		</div>
	</div>		
</div>


<!-- 

Hacer que aparezca sólo: EL TELÉFONO 1 (en caso de que no haya) TELÉFONO 2 (en caso de que no haya) MAIL

preguntamos en el mail a la vila: ¿todo el mundo tendrá un teléfono?
respuesta: pendiente

IMPORTANTE!
asegurarse de tener respuesta antes de solucionar el problema
                                                                -Raquel

 -->