<div class="row">
	<div class="col-12 text-center caixaDecolorGris padding">
		<div class="col-12 tipoTituloBlanco text-center">
			<span>{{firamar.titolFiramar}}</span> 
			<span>{{firamar.dataFiramar|limitTo:4}}</span>
		</div>
		<br>
		<div class="h_divider_w mb-1 mt-1 hideMovil"></div>
		<br>
		<p class="tipoTextoBlanco">
			{{firamar.txtFiramar}}
		</p>
	</div>
</div>
<br>
<div class="container">
	<div class="h_divider_p"></div>
	<div class="title-block wrapper">
		<span class="title-block__title title-block__title--color-primary">
			Programa d'activitats
		</span>	
	</div>
</div>
<div class="row">
	<div ng-repeat="firamar in activitatsfiramar" class="col-12 mt-4 p-1 p-md-0">
		<div class="row">
		 	<div class="col-12 col-md-4 p-1 p-md-0  middle colorRosa ">
		 		<i class="far fa-clock colorRosa p-1 p-md-0"></i>
		 		{{firamar.horaInici |limitTo:5}}h -
		 		{{firamar.horaFi |limitTo:5}}h
		 		<h6 class="col-12 col-md-10 mt-2 far fa-calendar colorRosa p-1 p-md-0">
		 		&nbsp;&nbsp;{{firamar.titolActivitat | uppercase}}
		 		</h6>
		 	</div>
		 	<div class="col-12 col-md-8"> 
				<p class="col-12 tipoTexto p-1 p-md-0">{{firamar.txtActivitat}}</p><br>
			</div>
		</div>
	</div>
	<div class="h_divider_MovilFiramar"></div>
</div>

	

<div class="row">
	<div class="title-block wrapper py-4">
		<span class="title-block__title title-block__title--color-primary">
			Galeria
		</span>	
	</div>
	<div class="container col-12">
		<div class="row">
			<div class="card-columns">
				<div class="card" ng-repeat="galeria in galeriafiramar">
					<img class="card-img-top img-fluid d-md-none" ng-src="{{galeria.fotoFiramar!=''?'img/galeriafiramar/'+galeria.fotoFiramar:'img/noimage.png'}}" id="fotoFull" >
					<img class="card-img-top img-fluid d-none d-md-inline" ng-src="{{galeria.fotoFiramar!=''?'img/galeriafiramar/'+galeria.fotoFiramar:'img/noimage.png'}}" data-toggle="modal" data-target="#modalFoto" id="fotoFull" ng-click="modalFoto(galeria.fotoFiramar)">
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade " id="modalFoto" tabindex="-1" role="dialog" aria-hidden="true">
  	<div class="modal-dialog modal-dialog-centered" role="document">
  		<div class="modal-content">
			<div class="modal-body">
	      		<div>
	      			<img ng-src="img/galeriafiramar/{{fotoModal}}" class="img-fluid sizeModal">
	      		</div>
	     	</div>
	    </div>
 	</div>
</div>
<div class="title-block wrapper py-4">
	<span class="title-block__title title-block__title--color-primary">
		Participants
	</span>	
</div>
<div class="row">
	
<div class="d-none d-md-inline">
	<div id="carouselNoMovil" class="carousel slide" data-ride="carousel">
<!-- 	<ol class="carousel-indicators">
		<li data-target="#carouselNoMovil" data-slide-to="0" class="active"></li>
		<li data-target="#carouselNoMovil" data-slide-to="1"></li>
		<li data-target="#carouselNoMovil" data-slide-to="2"></li>
	</ol> -->
	<div class="carousel-inner carousel text-center">
		<div class="carousel-item" ng-repeat="participant in participantsDiv" ng-class="{'active': $index==0}">
			<img class=" img-fluid col-3" ng-src="{{imatge.logoParticipant!=''?'img/participants/'+imatge.logoParticipant:'img/noimage.png'}}" alt="Participant {{$index}}" ng-repeat="imatge in participantsDiv[$index]">
		</div>
	</div>
	

	<a class="carousel-control-prev" role="button" data-target="#carouselNoMovil" data-slide="prev" ng-show="participantsDiv.length>1">
		<span class="arrow-circle-lefts"><i class="fas fa-arrow-circle-left"></i></span>
		<span class="sr-only">Anterior</span>
	</a>
	<a class="carousel-control-next" role="button" data-target="#carouselNoMovil" data-slide="next" ng-show="participantsDiv.length>1">
    	<span class="arrow-circle-rights"><i class="fas fa-arrow-circle-right"></i></span>
 		<span class="sr-only">Següent</span>
	</a>
	</div>
</div>

<div class="d-md-none">
	<div id="carouselMovil" class="carousel slide" data-ride="carousel">
		<!-- <ol class="carousel-indicators">
			<li data-target="#carouselMovil" data-slide-to="0" class="active"></li>
			<li data-target="#carouselMovil" data-slide-to="1"></li>
			<li data-target="#carouselMovil" data-slide-to="2"></li>
		</ol> -->
		<div class="carousel-inner carousel text-center">
			<div class="carousel-item" ng-repeat="participant in participants" ng-class="{'active': $index==0}">
				<img class=" img-fluid col-12" ng-src="{{participant.logoParticipant!=''?'img/participants/'+participant.logoParticipant:'img/noimage.png'}}" alt="Participant {{$index}}">

		    </div>
		</div>
	</div>
	<a class="carousel-control-prev-movil" role="button" data-target="#carouselMovil" data-slide="prev" ng-show="participants.length>1>
		<span class="arrow-circle-lefts"><i class="fas fa-arrow-circle-left"></i></span>
		<span class="sr-only">Anterior</span>
	</a>
	<a class="carousel-control-next-movil" role="button" data-target="#carouselMovil" data-slide="next" ng-show="participants.length>1>
    	<span class="arrow-circle-rights"><i class="fas fa-arrow-circle-right"></i></span>
 		<span class="sr-only">Següent</span>
	</a>
</div>

</div>
<div class="title-block wrapper py-4 mt-4">
<span class="title-block__title title-block__title--color-primary">
	Sponsors
</span>	
</div>

<div class="row">
	<div class="d-none d-md-inline">
		<div id="carouselNoMovilSponsors" class="carousel slide" data-ride="carousel">

		<div class="carousel-inner carousel text-center">
			<div class="carousel-item" ng-repeat="sponsor in sponsorsDiv" ng-class="{'active': $index==0}">
				<img class=" img-fluid col-3" ng-src="{{imatge.logoSponsor!=''?'img/sponsors/'+imatge.logoSponsor:'img/noimage.png'}}" alt="Sponsor {{$index+imatge.logoSponsor}}"  ng-repeat="imatge in sponsorsDiv[$index]">
				
			</div>
		</div>
		

		<a class="carousel-control-prev" role="button" data-target="#carouselNoMovilSponsors" data-slide="prev" ng-show="sponsorsDiv.length>1">
			<!-- <span class="carousel-control-prev-icon" aria-hidden="true" ></span> -->
			<span class="arrow-circle-lefts"><i class="fas fa-arrow-circle-left"></i></span>
			<span class="sr-only">Anterior</span>
		</a>
		<a class="carousel-control-next" role="button" data-target="#carouselNoMovilSponsors" data-slide="next"  ng-show="sponsorsDiv.length>1">
	    	<!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
	    	<span class="arrow-circle-rights"><i class="fas fa-arrow-circle-right"></i></span>
	 		<span class="sr-only">Següent</span>
		</a>
		</div>
	</div>
</div>

<div class="d-md-none">
	<div id="carouselMovilSponsor" class="carousel slide" data-ride="carousel">
		<!-- <ol class="carousel-indicators">
			<li data-target="#carouselMovil" data-slide-to="0" class="active"></li>
			<li data-target="#carouselMovil" data-slide-to="1"></li>
			<li data-target="#carouselMovil" data-slide-to="2"></li>
		</ol> -->
		<div class="carousel-inner carousel text-center">
			<div class="carousel-item" ng-repeat="sponsor in sponsors" ng-class="{'active': $index==0}">
				<img class=" img-fluid col-12" ng-src="{{sponsor.logoSponsor!=''?'img/sponsors/'+sponsor.logoSponsor:'img/noimage.png'}}" alt="Sponsor {{$index}}">
		    </div>
		</div>
	</div>
	<a class="carousel-control-prev-movil" role="button" data-target="#carouselMovilSponsor" data-slide="prev" ng-show="sponsors.length>1 ">
		<span class="arrow-circle-lefts"><i class="fas fa-arrow-circle-left"></i></span>
		<span class="sr-only">Anterior</span>
	</a>
	<a class="carousel-control-next-movil" role="button" data-target="#carouselMovilSponsor" data-slide="next" ng-show="sponsors.length>1>
    	<span class="arrow-circle-rights"><i class="fas fa-arrow-circle-right"></i></span>
 		<span class="sr-only">Següent</span>
	</a>
</div>
<div class="title-block wrapper py-4">
	<span class="title-block__title title-block__title--color-primary">
		Edicions anteriors
	</span>	
</div>

<div class="row">
	<div class="col-12">
		<div ng-repeat="dadesTotesEdicion in dadesTotesEdicions" class="col-12 colorRosa">
			<a class="cursor" ng-href="" ng-click="llistatEdicioFirmar(dadesTotesEdicion.dataFiramar)"><b>{{dadesTotesEdicion.dataFiramar |limitTo:4}}</b>-{{dadesTotesEdicion.titolFiramar }}</a>
		</div>
	</div>
</div>

<!-- ALTER TABLE `activitatsfiramar` ADD `idActivitat` INT NOT NULL AUTO_INCREMENT FIRST, ADD PRIMARY KEY (`idActivitat`); -->
<!-- position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light -->