<div class="row">
	<div class="col-12 tipoTitulo  position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
		<span>{{firamar.titolFiramar}}</span> 
		<span>{{firamar.dataFiramar|limitTo:4}}</span>
	</div>
	<div class="col-12 tipoTexto text-center">
		<p>
		{{firamar.txtFiramar}}
		</p>
	</div>
</div>

<div class="row">
	<div class="col-12 tipoSubTitulo">
		Programa d'activitats
	</div>
<!-- 	<div class="container-fluid"> -->
	<div class="row">
		<div ng-repeat="firamar in activitatsfiramar" class="col-md-12">
			<div class="row">
				 	<div class="col-4">{{firamar.horaInici}}
				    	<div class="col-4 no-padding">{{firamar.horaFi}}</div>
					</div><br>
				    <div class="col-8 tipoTexto"><b>{{firamar.titolActivitat | uppercase}}</b>
				    	<div class="col-8 tipoTexto">{{firamar.txtActivitat}}</div><br>
					</div>
			</div>
		</div>
	</div>
<!-- </div> -->
</div>
<div class="row">
	<div class="col-12 tipoSubTitulo">
		Galeria
	</div>
	<div class="container col-12">
		<div class="row">
			<div class="card-columns">
				<div class="card" ng-repeat="galeria in galeriafiramar">
					<img class="card-img-top img-fluid d-md-none" ng-src="{{galeria.fotoFiramar!=''?'img/galeriafiramar/'+galeria.fotoFiramar:'img/noimage.png'}}" id="fotoFull" >
					<img class="card-img-top img-fluid d-none d-md-inline" ng-src="{{galeria.fotoFiramar!=''?'img/galeriafiramar/'+galeria.fotoFiramar:'img/noimage.png'}}" data-toggle="modal" data-target="#modalFoto" id="fotoFull" ng-click="modalFoto(galeria.fotoFiramar)">
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade " id="modalFoto" tabindex="-1" role="dialog" aria-hidden="true">
  	<div class="modal-dialog modal-dialog-centered" role="document">
  		<div class="modal-content">
			<div class="modal-body">
	      		<div>
	      			<img ng-src="img/galeriafiramar/{{fotoModal}}" class="img-fluid sizeModal">
	      		</div>
	     	</div>
	    </div>
 	</div>
</div>


<div class="row">
	<div class="col-12 tipoSubTitulo">
		Participants
	</div>
	<div id="carouselAsso" class="carousel slide" data-ride="carousel">

	  <ul class="carousel-indicators">
	    <li data-target="#carouselAsso" data-slide-to="0" class="active"></li>
	    <li data-target="#carouselAsso" data-slide-to="1"></li>
	    <li data-target="#carouselAsso" data-slide-to="2"></li>
	  </ul>
	  
	  <div class="container carousel-inner no-padding carousel-innerAsso">

	    <div class="carousel-item active">
	      <div class="col-xs-3 col-sm-3 col-md-3 carouAsoc card" ng-repeat="participant in participants">
	        <img class="card-img-top img-fluid d-none d-md-inline" 
	        ng-src="{{participant.logoParticipant!=''?'img/participants/'+participant.logoParticipant:'img/noimage.png'}}">
	      </div>
	    </div>

		<div class="carousel-item">
			<div class="col-xs-3 col-sm-3 col-md-3 carouAsoc card" ng-repeat="participant in participants">
				<img class="card-img-top img-fluid d-none d-md-inline" 
				ng-src="{{participant.logoParticipant!=''?'img/participants/'+participant.logoParticipant:'img/noimage.png'}}">
			</div>
		</div>

	</div>
		<a class="carousel-control-prev" data-target="#carouselAsso" data-slide="prev">
			<span class="carousel-control-prev-icon"></span>
		</a>
		<a class="carousel-control-next" data-target="#carouselAsso" data-slide="next">
			<span class="carousel-control-next-icon"></span>
		</a>
	</div>
</div>

<div class="row">
	<div class="col-4 tipoSubTitulo">
		Sponsors
	</div>
	<div class="col-6 text-center">
		<div ng-repeat="sponsor in sponsors" class="col-12 tipoTexto">
		<img class=" img-fluid text-center" ng-src="{{sponsor.logoSponsor!=''?'img/sponsors/'+sponsor.logoSponsor:'img/noimage.png'}}" title="sponsors" alt="sponsors" > 
		</div>
	</div>
	
	¿fotos fijas de los sponsors? en plan, que haya un col y ahí dentro entren los q hayan? 
	no sé cómo hacerlo bien para q si un año hay 5 y otro 3 se quede bien centrado siempre.
</div>

<div class="row">
	<div class="col-12 tipoSubTitulo">
		Edicions anteriors
	</div>
	<div class="col-12 tipoTexto">
		ng repeat en párrafos que sean links? (creo)
	</div>

</div>

<!-- ALTER TABLE `activitatsfiramar` ADD `idActivitat` INT NOT NULL AUTO_INCREMENT FIRST, ADD PRIMARY KEY (`idActivitat`); -->
