<div class="row">
	<div class="col-12 tipoTitulo text-center">
		FIRAMAR (AÑO){{firamar.titolFiramar}} {{firamar.dataFiramar}}
	</div>
	<div class="col-12 tipoTexto">
		<p>
		{{firamar.txtFiramar}}
		</p>
	</div>
	
</div>
<div class="row">
	<div class="col-12 tipoSubTitulo">
		Programa d'activitats
	</div>
	<div class="col-12 tipoTexto">
		ng-repeat de la data activitat, el titulo de la actividad, y el texto de la actividad.
	</div>
</div>

<div class="row">
	<div class="col-12 tipoSubTitulo">
		Galeria
	</div>
	<div class="col-12">
		meter la galeria jeje
	</div>
</div>

<div class="row">
	<div class="col-12 tipoSubTitulo">
		Participants
	</div>
	<div class="col-12">
		meter carousel de 5, como en la home
	</div>
</div>

<div class="row">
	<div class="col-12 tipoSubTitulo">
		Sponsors
	</div>
	<div class="col-12 tipoTexto">
		¿fotos fijas de los sponsors? en plan, que haya un col y ahí dentro entren los q hayan? 
		no sé cómo hacerlo bien para q si un año hay 5 y otro 3 se quede bien centrado siempre.
	</div>
</div>

<div class="row">
	<div class="col-12 tipoSubTitulo">
		Edicions anteriors
	</div>
	<div class="col-12">
		ng repeat en párrafos que sean links? (creo)
	</div>
</div>