<div class="row">
	<div class="col-12 text-center mt-4 tipoSubTitulo hidemovil">
		Benvinguts a
	</div>
	<div class="col-12 text-center mb-4 hidemovil">
		<img src="img/vilactiva.png">
	</div>

</div>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators hidemovil">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner carousel-innerPrincipal">
    <div class="carousel-item active provaCar">
      <img class="d-block w-100" scr="img/slider_1.jpg" alt="First slide"> 
    </div>
    <div class="carousel-item provaCar">
      <img class="d-block w-100" scr="img/slider_2.jpg" alt="Second slide">
    </div>
    <div class="carousel-item provaCar">
      <img class="d-block w-100" scr="img/slider_3.jpg" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" role="button" data-target="#carouselExampleIndicators" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" role="button" data-target="#carouselExampleIndicators" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="h_divider mb-1 mt-1"></div>

<div class="tipoTitulo mt-2 mb-1 mt-md-4 mb-md-3 txtMovil">
	Notícies destacades
</div>

<div class="row">
	<div ng-repeat="noticia in noticies | orderBy:noticia.dataNoticia | filter:{principal:'S'}" ng-href="#/noticies/{{noticia.idNoticia}}" class="col-6">
		<div class="row align-items-center">
			<div class="col">
				<div class="card">
					<div class="group-item">
						<div class="imagecontainer is-cover">	
							<a ng-href="#/noticia/{{noticia.idNoticia}}">
								<img ng-src="{{noticia.fotoNoticia!='' ? 'img/noticies/'+noticia.fotoNoticia : 'img/noimage.png'}}" class="imagecontainer-img lazyload" alt="noticia">
							</a>
						</div>
					</div>
				</div>
			</div>
			
			
			<div class="col">
				<div class="tipoSubTitulo mb-1">
					<a ng-href="#/noticia/{{noticia.idNoticia}}">
					{{noticia.titolNoticia}}
					</a>
				</div>

				<div class="tipoTexto mb-1">
					{{noticia.dataNoticia}}
				</div>

				<div class="tipoTexto">
					{{noticia.txtNoticia | limitTo:100}}...
					<a class="colorLink" ng-href="#/noticia/{{noticia.idNoticia}}">
					Llegir més
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="h_divider mb-3 mt-3"></div>
	<div class="container">
		<div class="row">	
			<div class="col-5 px-0">
					<div class="fb-page center-block">
						<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fvilactiva&tabs=timeline&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" data-adapt-container-width="true" style="border:none;overflow:hidden" scrolling="no" allowTransparency="true" allow="encrypted-media" id="frameFb"></iframe>
					</div>
			</div>	
<!-- 			

			<div class="col-md-7 px-0 col-sm-12">
					<div class="card mb-2 bannerAlto">
						 <img class="card-img" src="img/banner1.jpg" alt="Card image">
					</div>
					<div class="card mb-2 bannerAlto">
						 <img class="card-img" src="img/banner2.jpg" alt="Card image">
					</div>
					<div class="card mb-2 bannerAlto">
						 <img class="card-img" src="img/banner3.jpg" alt="Card image">
					</div>
			</div> -->

<!-- ***********NO TOCAR!!!!!!!! estoy probando esto = https://jsfiddle.net/x2p17f31/131/************** -->


			<div class="col-md-7 px-0 col-sm-12">
				<div class="group">
					<div class="group-item">
						<div class="imagecontainer is-contain bannerAlto">
							<img class="imagecontainer-img lazyload"
								 src="img/banner1.jpg">
						</div>
					</div>
					<div class="group-item">
						<div class="imagecontainer is-contain bannerAlto">
							<img class="imagecontainer-img lazyload"
								 src="img/banner2.jpg">
						</div>
					</div>
					<div class="group-item">
						<div class="imagecontainer is-contain bannerAlto">
							<img class="imagecontainer-img lazyload"
								 src="img/banner3.jpg">
						</div>
					</div>
				</div>
			</div>


		</div>
	</div>
	<div class="h_divider mb-1 mt-1"></div>
	<div class="row">

		<div class="tipoTitulo mt-4 mb-3">
			Associats
		</div>

	</div>

	<div id="carouselAsso" class="carousel slide" data-ride="carousel">

	  <ul class="carousel-indicators">
	    <li data-target="#carouselAsso" data-slide-to="0" class="active"></li>
	    <li data-target="#carouselAsso" data-slide-to="1"></li>
	    <li data-target="#carouselAsso" data-slide-to="2"></li>
	  </ul>
	  
	  <div class="container carousel-inner no-padding carousel-innerAsso">
	    <div class="carousel-item active">
	      <div class="col-xs-3 col-sm-3 col-md-3 carouAsoc">
	      	<a ng-href="#/directori/{{associat.idAssociat}}">
	        <img src="img/associat.jpg">
	    	</a>
	      </div>    
	      <div class="col-xs-3 col-sm-3 col-md-3 carouAsoc">
	        <img src="img/associat.jpg">
	      </div>   
	      <div class="col-xs-3 col-sm-3 col-md-3 carouAsoc">
	        <img src="img/associat.jpg">
	      </div>   
	      <div class="col-xs-3 col-sm-3 col-md-3 carouAsoc">
	        <img src="img/associat.jpg">
	      </div>   
	    </div>
	    <div class="carousel-item">
	      <div class="col-xs-3 col-sm-3 col-md-3 carouAsoc">
	        <img src="img/associat.jpg">
	      </div>    
	      <div class="col-xs-3 col-sm-3 col-md-3 carouAsoc">
	        <img src="img/associat.jpg">
	      </div>
	    </div>
	  </div>  
	  <a class="carousel-control-prev" data-target="#carouselAsso" data-slide="prev">
	    <span class="carousel-control-prev-icon"></span>
	  </a>
	  <a class="carousel-control-next" data-target="#carouselAsso" data-slide="next">
	    <span class="carousel-control-next-icon"></span>
	  </a>

	</div>


	  -mirar que las rayitas vayan a relacion con la cantidad de bloques
	  -hacer que cada 4 logoassociats, se cree un nuevo div (controller?)
	  -hacer que si quedan 2 sueltos, se centren? idk
	  
	  -arreglar el navbar más separação
	  -Vilactiva en tablet+movil klk, hacer q todo quede en la misma linea