<div class="row" ng-show="llistat">
	<div class="mt-4 col-10 offset-1">
		<div class="tipoTitulo mt-5">
			Notícies
		</div>
		<div class="h_divider mb-5"></div>
		<div class="row">
			<div class="col-12 col-xl-10 offset-xl-1 mb-4">
				<div class="row">
					<div ng-repeat="noticia in noticiess">
						Escribo{{$index}}
					</div>
					<div ng-repeat="noticia in noticies | orderBy:'-dataAng'" ng-href="#/noticies/{{noticia.idNoticia}}" class="col-lg-4 col-md-6 px-md-2 px-xl-4 pt-md-2 pt-xl-4">
						<div class="card">
							<div class="group-item">
								<div class="imagecontainer is-cover">
									<a ng-href="#/noticia/{{noticia.idNoticia}}">
										<img ng-src="{{noticia.fotoNoticia!=''?'img/noticies/'+noticia.fotoNoticia:'img/noimage.png'}}" class="imagecontainer-img lazyload" alt="noticia">
									</a>
								</div>
							</div>
						</div>
						<div class="tipoTextoCenter">
							{{noticia.dataNoticia}}
						</div>
						<div class="tipoSubTituloCenter">
							<a ng-href="#/noticia/{{noticia.idNoticia}}">
							{{noticia.titolNoticia}}
							</a>
						</div>
						<div class="tipoTexto">{{noticia.txtNoticia | limitTo:100}}...
							<a class="colorLink cursor" ng-href="#/noticia/{{noticia.idNoticia}}">
							Llegir més
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row" ng-hide="llistat">
	<div class="mt-4 col-10 offset-1">
		<div class="tipoTitulo">
			<a href="#/noticies">TORNAR A NOTÍCIES</a>
		</div>
		<div class="h_divider mb-4"></div>

		<div class="tipoSubTitulo mb-4">
			{{noticia.titolNoticia}}
		</div>

		<div class="row mb-4">
			<div class="col-12 col-lg-6 mb-4">
			<img ng-src="{{noticia.fotoNoticia!=''?'img/noticies/'+noticia.fotoNoticia:'img/noimage.png'}}" class="img-fluid imageBordes" alt="noticia">
			</div>

			<div class="col-12 col-lg-6">
				<div class="tipoTexto">
				<b>NOTÍCIA:</b>
				<br>
				{{noticia.txtNoticia}}
				<br><br>
				<b>DATA:</b>
				<br>
				{{noticia.dataNoticia}}
				</div>
			</div>
		</div>
	</div>
</div>
