<div class="row" >
<!-- 	ng-show="llistat" -->
	<div class="mt-4 col-10 offset-1">
		<div class="row">
			<div ng-repeat="noticia in noticies | filter:{proxim:1} | orderBy:-dataAng" class="col-lg-6 col-md-12">
				<div class="row">
					<div class="col-lg-6 col-md-6">
						<div class="group-item">
							<div class="imagecontainer is-cover">
								<a ng-href="#/noticies/{{noticia.idEsdev}}">
									<img ng-src="{{noticia.foto!=''?'img/noticies/'+noticia.foto:'img/noimage.png'}}" class="imagecontainer-img lazyload" alt="noticia">
								</a>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="dataEstilo">
							{{noticia.dataEsdeveniment}}h
						</div>

						<div class="titularEstilo">
							<a ng-href="#/noticia/{{noticia.idEsdev}}">
							{{noticia.titular | uppercase}}
							</a>
						</div>

						<div class="descripcioEstilo">
							{{noticia.descripcio | limitTo:100}}...
							<a ng-href="#/noticia/{{noticia.idEsdev}}" class="colorLink">Llegir més{{esdevenimentsMas}}</a>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="row" ng-show="esdevError">
						<div class="alert alert-info" role="alert">
							No hi han noticies
						</div>
					</div>
				</div>
			</div>
			
		</div>

		<div class="ultimsEstilo mt-5">
			Notícies:
		</div>
		<div class="h_divider mb-5"></div>
		<div class="row">
			<div class="col-12 col-xl-10 offset-xl-1 mb-4">
				<div class="row">
					<div ng-repeat="noticia in noticies | filter:{proxim:0} | orderBy:'-dataAng'" ng-href="#/noticies/{{noticia.idEsdev}}" class="col-lg-4 col-md-6 px-md-2 px-xl-4 pt-md-2 pt-xl-4">
						<div class="card">
							<div class="group-item">
								<div class="imagecontainer is-cover">
									<a ng-href="#/noticia/{{noticia.idEsdev}}">
										<img ng-src="{{noticia.foto!=''?'img/noticies/'+noticia.foto:'img/noimage.png'}}" class="imagecontainer-img lazyload" alt="noticia">
									</a>
								</div>
							</div>
						</div>
						<div class="dataEstiloCenter">
							{{noticia.dataEsdeveniment}}h
						</div>
						<div class="titularEstiloCenter">
							<a ng-href="#/noticia/{{noticia.idEsdev}}">
							{{noticia.titular | uppercase}}
							</a>
						</div>
						<div class="descripcioEstilo">{{noticia.descripcio | limitTo:100}}...
							<a class="colorLink cursor" ng-href="#/noticia/{{noticia.idEsdev}}">
							Llegir més{{esdevenimentsMas}}
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- <div class="row" ng-hide="llistat">
	
	<div class="mt-4 col-10 offset-1">
		<br>

		<div class="ultimsEstilo">
			<a href="#/noticies">*VOLVER A NOTICIAS{{esdevenimentsTorna}}</a>
		</div>

		<div class="h_divider mb-4"></div>

		<div class="ultimsEstiloCenter mb-4">
			{{esdeveniment.titular | uppercase}}
		</div>
	
		
		<div class="row mb-4">
			<div class="col-12 col-lg-6 mb-4">
			<img ng-src="{{esdeveniment.foto!=''?'img/esdeveniments/'+esdeveniment.foto:'img/noimage.png'}}" class="img-fluid imageBordes" alt="esdeveniment">
			<img src="https://i.pinimg.com/236x/6e/45/df/6e45df85b705ab5ee2f4a534e9fcbd8f--graphic-tees-t-shirt-print.jpg">
			</div>

			<div class="col-12 col-lg-6">
				<div class="descripcioEstilo">
				<b>*NOTICIA:{{esdevenimentsEsdev}}</b>
				<br>
				{{esdeveniment.descripcio}}
				<br><br>
				<b>*DATA(dia y mes, no la hora){{esdevenimentsCuan}}</b>
				<br>
				{{esdeveniment.dataEsdeveniment}}
				</div>
			</div>
		</div>

	</div>

</div>
 -->