<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>POLÌTICA DE PRIVADESA</h1>
    <p class="lead">Associació de comerciants de la Vila Olímpica</p>
  </div>
</div>


<p>POLÌTICA DE PRIVADESA<br><br>

Segons estableix el <b>RGPD</b>(Reglament (UE) 2016/679), els proporcionem la Informació Detallada de Protecció de Dades que s'exposa a continuació:<br><br>

Responsable:<br>
Raó Social: Associació de comerciants de la Vila Olímpica<br>
Telèfon: (+34) 545454545<br>
Correu Electrònic: <br>

<b>Finalitat:</b>
L'informem que les Dades de Caràcter Personal recollits, seran incorporats a un Fitxer sota la nostra responsabilitat, amb la finalitat de gestionar l'enviament de la informació que ens sol·licitin i facilitar als interessats ofertes de productes i serveis del seu interès. Les dades proporcionades es conservaran mentre es mantingui la relació comercial, durant els anys necessaris per complir amb les obligacions legals o se sol·liciti la seva supressió per l'interessat.<br><br>

<b>Legitimació:</b>
Les Dades de Caràcter Personal obtinguts en aquesta Pàgina Web, així com l'oferta de productes i serveis oferts, està basada en el consentiment que se li sol·licita a l'interessat.L'interessat tindrà dret a retirar el seu consentiment a qualsevol moment. La retirada del consentiment no afectarà la licitud del tractament basada en el consentiment previ a la seva retirada.<br><br>

<b>Destinataris:</b>
No se cediran dades a tercers, excepte obligació legal.<br><br>

<b>Drets:</b>
Vostè com a interessat directe, té dret a obtenir confirmació sobre si en Vila Olímpica, estem tractant dades personals que el concerneixen, o no. Vostè té dret a accedir a les seves dades personals, així com a sol·licitar la rectificació de les dades inexactes o, si escau, sol·licitar la seva supressió quan, entre altres motius, les dades ja no siguin necessaris per a les finalitats que van ser recollits.
En determinades circumstàncies, vostè podrà sol·licitar la limitació del tractament de les seves dades, en aquest cas únicament els conservarem per a l'exercici o la defensa de reclamacions.<br>
En determinades circumstàncies i per motius relacionats amb la seva situació particular, vostè podrà oposar-se al tractament de les seves dades. Vila Olímpica,  deixarà de tractar les dades, salvo per motius legítims imperiosos, o l'exercici o la defensa de possibles reclamacions.<br>
En determinades circumstàncies, vostè tindrà dret a rebre les dades personals que li incumbeixin i que ens hagi facilitat, i transmetre'ls o sol·licitar que els hi proporcionem a un tercer sense objecció per la nostra banda (dret a la portabilitat de dades).<br>
En determinades circumstàncies, l'informem que tindrà dret a no ser objecte d'un decisió basada únicament en el tractament automatitzat, inclosa l'elaboració de perfils, que produeixi efectes jurídics sobre vostè o l'afecti significativament de manera similar.</p>