.navNoline{
	outline: 0;
}
.container-fluid{
	padding: 0;
	margin: 0;
}
.row{
	margin: 0;
}
i,.cursor{
	cursor:pointer;
}
a:link{
	color: black;
    text-decoration: none;
}
a:visited{
	color: black;
    text-decoration: none;
}
a:hover {
	color: black;
    text-decoration: none;
}

.inputLog{
	text-align: center!important;
}
.divCentro{
	position: absolute!important;
	left: 50%!important;
	top: 45%!important;
	width: 250px!important;
	height: 200px!important;
	margin-top: -100px!important;
	margin-left: -150px!important;
}
.colorLink{
	color:#007bff!important;
}
.imagecontainer {
  position: relative;
  overflow: hidden;
}
.imagecontainer:before {
  display: block;
  width: 100%;
  content: "";
  padding-bottom: 100%;
  height: 0;
}
.imagecontainer-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.is-contain.imagecontainer .imagecontainer-img {
  object-fit: contain;
  font-family: "object-fit: contain";
}
.is-cover.imagecontainer .imagecontainer-img {
  object-fit: cover;
  font-family: "object-fit: cover";
}
.group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.group-item {
  width: 100%;
}
.card{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.fontAweCheck{
	color: #03db50!important;
}
.fontAweX{
	color: #ff0000!important;
}
#txtHNom{
	width: 208px;
}
#txtPass{
	border-radius: 0.25rem 0rem 0rem 0.25rem !important;
	width: 67%;
}
.whats{
	color: #00e676!important;
}
.phone{
	color: #339af0!important;
}
.mail{
	color: #ffd700!important;
}
.iconSize{
	font-size: 1.33em;
}
.textarea{
	height: 150px!important; 
}
.formEsd * {
    box-sizing: border-box;
}
.formEsd input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
.formEsd label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}
.formEsd input[type=button] {
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin: 5px;
}
.formEsd {
	width: 800px;
    margin: auto;
    margin-bottom: 80px;
}
.iconEsdevCss {
	margin-top: 6px;
	color: #ffcc00;
}
.iconEsdevCssBlack {

	font-size: 25px;
}
.AgregCss {
	font-size: 2.2em;
	color: #000000;
}
.divDades{
	padding: 1px;
	font-size:14px;
}
.imgCssEsdev{
	margin-top: 20px;
	height: auto;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.tituCss{
	font-size: 25px;
	font-weight: bold;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	word-break: keep-all;
	overflow-wrap: normal;
	hyphens: auto;
	text-decoration: underline;

}
.textboxCss{
	margin-top: 10px;
	word-break: keep-all;
	overflow-wrap: normal;
	hyphens: auto;
}
.textboxCss div, h6, span {
	padding-right: 2px!important;
	padding-left: 2px!important;

}
.ultimsEstilo{
	font-family: 'Asap', sans-serif;
	font-weight: 700;
	font-size: 1.8em;
}
.AfegirEstilo{
	font-size: 2.2em;
	color: #000000;
	margin-left: 0px;
}
.h_divider{ 
	height:4px; 
	background: #000 
}
.afegegant{
	font-size: 2em;
}
.buttonAgreg{
	font-size: 1.5em;
}
.imgCssColla{
	height: 150px;
}
.imgCssTrans{
	height: 35px;
}

#cargador {
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: rgba(95, 95, 95, 0.7);
}

.preloader {
	margin-top: 18%;
}
.btnColorCss{
	background-color: #396b39;
	color: #FFFFFF;
	
}
.divTable tr:nth-child(odd){
	background-color:#fffcf0;
}
.divLogoNav{
	background-color: #A8A8A8;
}
.divTable table th{
	color: #FFFFFF;
	background-color: #4f307e;
}

@media (max-width: 575px){
	.imglogonav{
		height: 30px;
		width: 30px;
	}
	.textTabla{
		font-size: 1rem;
	}
	.titleSocis{
		font-size: 1.5rem!important;
	}
	.iconSize{
		font-size: 1.75em;
	}
	.textboxCss{
		padding-left: 15px!important;
	}
	.picboxCss{
		margin-left: auto;
    	margin-right: auto;
    	width: auto;
    	text-align: center;
	}
	.picboxCssIcon{
		padding-top: 10px;
		margin-left: auto;
    	margin-right: auto;
    	width: auto;
    	text-align: center;
	}
	.flechaSociEsdev{
	text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
	background-color: #808080;
    color: black;
    margin-left: 30px;
    margin-top: 20px;
	}
	.flechaSociEsdev:hover{
	background-color: #ddd;
    color: black;
	}
}
@media (min-width: 576px) and (max-width: 767px){
	.imglogonav{
		height: 30px;
		width: 30px;
	}
	.textTabla{
		font-size: 0.5rem;
	}
	.titleSocis{
		font-size: 1.5rem!important;
	}
	.iconSize{
		font-size: 1.75em;
	}
	.textboxCss{
		padding-left: 40px!important;
		padding-right: 40px!important;
	}
	.picboxCss{
		margin-left: auto;
    	margin-right: auto;
	}
	.picboxCssIcon{
		padding-top: 10px;
		margin-left: auto;
    	margin-right: auto;
    	width: auto;
    	text-align: center;
	}
	.flechaSociEsdev{
	text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
	background-color: #808080;
    color: black;
    margin-left: 30px;
    margin-top: 20px;
	}
	.flechaSociEsdev:hover{
	background-color: #ddd;
    color: black;
	}
}
@media (min-width: 768px) and (max-width: 991px){
	.imglogonav{
		height: 40px;
		width: 40px;
	}
	.iconSize{
		font-size: 1.75em;
	}
	.textboxCss{
		padding-left: 15px!important;
		padding-right: 15px!important;
	}
	.picboxCss{
		margin-left: auto;
    	margin-right: auto;
    	width: auto;
	}
	.picboxCssIcon{
		padding-top: 10px;
		margin-left: auto;
    	margin-right: auto;
    	width: auto;
    	text-align: center;
	}
	.flechaSociEsdev{
	text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
	background-color: #808080;
    color: black;
    margin-left: 50px;
    margin-top: 20px;
	}
	.flechaSociEsdev:hover{
	background-color: #ddd;
    color: black;
	}

}
@media (max-width: 991px){
	.goToTop{
	    display: none;
	    position: fixed;
	    bottom: 20px;
	    right: 20px;
	    z-index: 99;
	    outline: none;
	    color: white;
	    cursor: pointer;
	    padding: 15px; 
	  
	    font-size: 18px;
	   	background-color: transparent!important;	   	
		outline: none!important;
		outline-width: none!important;
	    outline-color: none!important;
	    border-color: none!important;
	    border-style: none!important;
	}
	.imgBtnTop{
		height: 50px; 
		width: 50px;
	}

}
@media (min-width: 992px){
	.goToTop{
	    display: none;
	    position: fixed;
	    bottom: 20px;
	    right: 20px;
	    z-index: 99;
	    border: none;
	    outline: none;
	    color: white;
	    cursor: pointer;
	    padding: 15px; 
	    border-radius: 10px; 
	    font-size: 18px;
	    background-color: #0069D9!important;
	    outline: none!important;
		outline-width: none!important;
	    outline-color: none!important;
	    border-color: none!important;
	    border-style: none!important;
	}
}
@media (min-width: 992px) and (max-width: 1199px){
	.imglogonav{
		height: 40px;
		width: 40px;
	}
	.iconSize{
		font-size: 1.33em;
	}
	.textboxCss{
		padding-left: 0px!important;
	}
	.picboxCss{
		margin-left: auto;
    	margin-right: auto;
	}
	.picboxCssIcon{
		padding-top: 10px;
		margin-left: auto;
    	margin-right: auto;
    	width: auto;
    	text-align: center;
	}
	.flechaSociEsdev{
	text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
	background-color: #808080;
    color: black;
    margin-left: 50px;
    margin-top: 20px;
	}
	.flechaSociEsdev:hover{
	background-color: #ddd;
    color: black;
	}
}
@media (min-width: 1200px){
	.imglogonav{
		height: 50px;
		width: 50px;
	}
	.AgregCss {
	padding-left: 30px;
	}
	.iconSize{
		font-size: 1.33em;
	}
	.textboxCss{
		padding-left: 5px!important;
		padding-right: 5px!important;
	}
	.picboxCss{
		padding-right: 8px;
		padding-left: 8px;
	
	}
	.picboxCssIcon{
		padding-top: 10px;
		margin-left: auto;
    	margin-right: auto;
    	width: auto;
    	text-align: center;
	}
	.flechaSociEsdev{
	text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
	background-color: #808080;
    color: black;
    margin-left: 50px;
    margin-top: 20px;
	}
	.flechaSociEsdev:hover{
	background-color: #ddd;
    color: black;
	}	
.ServeisLista{
	list-style: none;
}