.navNoline{
	outline: 0;
}
.container-fluid{
	padding: 0;
	margin: 0;
}
.row{
	margin: 0;
}
i,.cursor{
	cursor:pointer;
}
a:link{
	color: black;
    text-decoration: none;
}
a:visited{
	color: black;
    text-decoration: none;
}
a:hover {
	color: black;
    text-decoration: none;
}
#txtHNom{
	width: 208px;
}
#txtPass{
	border-radius: 0.25rem 0rem 0rem 0.25rem !important;
	width: 67%;
}
#cargador {
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: rgba(95, 95, 95, 0.7);
}
.inputLog{
	text-align: center!important;
}
.divCentro{
	position: absolute!important;
	left: 50%!important;
	top: 45%!important;
	width: 250px!important;
	height: 200px!important;
	margin-top: -100px!important;
	margin-left: -150px!important;
}

.card{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.fontAweCheck{
	color: #03db50!important;
}
.fontAweX{
	color: #ff0000!important;
}

.whats{
	color: #00e676!important;
}
.phone{
	color: #339af0!important;
}
.mail{
	color: #ffd700!important;
}
.iconSize{
	font-size: 1.33em;
}
.textarea{
	height: 150px!important; 
}
.afegegant{
	font-size: 2em;
}
.buttonAgreg{
	font-size: 1.5em;
}
.imgCssColla{
	height: 150px;
}



.preloader {
	margin-top: 18%;
}
.btnColorCss{
	background-color: #396b39;
	color: #FFFFFF;
	
}
.divTable tr:nth-child(odd){
	background-color:#fffcf0;
}
.divLogoNav{
	background-color: #A8A8A8;
}
.divTable table th{
	color: #FFFFFF;
	background-color: #4f307e;
}
.AssNotSerAllCss{
	margin-right: 15%;
	margin-left: 15%;
}
.AssTituCss{
	font-weight: bold;
	font-size: 1.5vw;
	margin-bottom: 2%;
}
.textareaHorariAss{
	height: 90px!important;
}
.FacebookAssCss{
	font-size: 1.5rem;
}
.imgCssAss{
	height: 78%;
}
.passwordAss{
	border-radius: 0.25rem 0rem 0rem 0.25rem !important;
	width: 67%;
}
.inputGroupPrepend{
	padding-bottom: 0!important;
	padding-top: 0!important;
}
.form-control {
  padding: 0.5rem;
  border: 1px solid;
  font-size: 1rem;
  color: black;
  font-weight: bold;
}
.form-control:focus {
    color: black;
 	background-color:#fff; 
    border-color:#5a0ece; 
    outline: 0;
    box-shadow: 0 0 0 0.2rem #4f307e9e;
}
.serveiysubserveiBoxCss i{
	float: right;
	font-size: 2.5ex;
}
.serveiTituCss{
	float: right;
	font-size: 2.5ex;
}
.ServeisTextCss{
	justify-content: center;
}
@media (max-width: 575px){
	
	.iconSize{
		font-size: 1.75em;
	}
}
@media (min-width: 576px) and (max-width: 767px){
	.imglogonav{
		height: 30px;
		width: 30px;
	}
	.textTabla{
		font-size: 0.5rem;
	}
	.titleSocis{
		font-size: 1.5rem!important;
	}
	.iconSize{
		font-size: 1.75em;
	}
}
@media (min-width: 768px) and (max-width: 991px){
	.imglogonav{
		height: 40px;
		width: 40px;
	}
	.iconSize{
		font-size: 1.75em;
	}
	

}
@media (max-width: 991px){
	.goToTop{
	    display: none;
	    position: fixed;
	    bottom: 20px;
	    right: 20px;
	    z-index: 99;
	    outline: none;
	    color: white;
	    cursor: pointer;
	    padding: 15px; 
	  
	    font-size: 18px;
	   	background-color: transparent!important;	   	
		outline: none!important;
		outline-width: none!important;
	    outline-color: none!important;
	    border-color: none!important;
	    border-style: none!important;
	}
	.imgBtnTop{
		height: 50px; 
		width: 50px;
	}

}
@media (min-width: 992px){
	.goToTop{
	    display: none;
	    position: fixed;
	    bottom: 20px;
	    right: 20px;
	    z-index: 99;
	    border: none;
	    outline: none;
	    color: white;
	    cursor: pointer;
	    padding: 15px; 
	    border-radius: 10px; 
	    font-size: 18px;
	    background-color: #0069D9!important;
	    outline: none!important;
		outline-width: none!important;
	    outline-color: none!important;
	    border-color: none!important;
	    border-style: none!important;
	}
}
@media (min-width: 992px) and (max-width: 1199px){
	.imglogonav{
		height: 40px;
		width: 40px;
	}
	.iconSize{
		font-size: 1.33em;
	}
}
@media (min-width: 1200px){
	.imglogonav{
		height: 50px;
		width: 50px;
	}
	.AgregCss {
	padding-left: 30px;
	}
	.iconSize{
		padding: 0px;
		font-size: 1.5em;
	}
}	
